a,a:active,a:visited,a:hover {text-decoration:none;}
a, a:link{color: #777;}
a:hover{color: #063c85;}

.body{background-color:#f7fbff;}
.blueLine{margin-left:-49px!important;}
.lesson-1.overlay:before{background:#063c85;}
.lesson-2.overlay:before{background:#063c85;}
.lesson-3.overlay:before{background:#063c85;}
.footFlower:before{position:absolute;top:-5px;left:50%;display:block;margin-left:-20px;width:20px;height:20px;border-top:20px solid #FFF;border-right:20px solid transparent;border-left:20px solid transparent;content:"";}
img.thumb-info-inner.innerImg{left:50%;margin-bottom:1rem;margin-left:-1.75rem;width:3.5rem;}
.text-color-primary.month{color:#063c85!important;}
canvas#flower{position:fixed;top:0;left:0;z-index:9999;display:block;margin:0;padding:0;touch-action:none;pointer-events:none;}
#sub-menu{text-align:center;}
#sub-menu li>:not(i){color:#777!important;}
.Ufaner span.sub-title.text-dark{text-align:left;}
html #history .text-color-primary,html #history .text-primary{color:#063c85!important;}
#history .title{
    margin-top: 80px;
}
.eightStep{width:8rem;}
.eightStepText{text-align:left;}
.secondLine{position:absolute;right:15px;left:auto;width:3px;background:#063c85;content:'';}
.thirdLine{position:absolute;right:auto;left:15px;width:3px;background:#063c85;content:'';}
.readMore{background-color:#063c85!important;text-align:right;}
li.dropdown a:hover{-webkit-animation:dropdownLi .3s;animation:dropdownLi .3s;animation-fill-mode:forwards;}
@keyframes dropdownLi{
    0%{-webkit-transform:rotate(0) scale(1,1);transform:rotate(0) scale(1,1);}
    100%{-webkit-transform:rotate(-3deg) scale(1.1,1.1);transform:rotate(-3deg) scale(1.1,1.1);color:#4787de;}
}

.floatWindow{position:absolute;bottom:0;margin-bottom:-50px;margin-left:60px;padding:30px 42px 45px;width:700px;background-color:#fff;background-image:url(../img/wave.png);box-shadow:0 0 10px rgba(0,0,0,.1);-webkit-transition:.3s;transition:.3s;background-repeat-y:no-repeat}
.floatWindow p{margin:10px 0 0;color:#063c85;font-weight:900;font-size:24px;font-family:initial;line-height:2pc}
.floatWindow:hover{background-color:#063c85;background-image:url(../img/wave_white.png)}
.floatWindow:hover p,.floatWindow:hover span{color:#fff}
.wave{-webkit-animation:wave 20s infinite;animation:wave 20s infinite}
@keyframes wave{
    0%{background-position-x:0;background-position-y:104%;}
    25%{background-position-y:108%;}
    50%{background-position-y:104%;}
    75%{background-position-y:100%;}
    100%{background-position-x:100%;background-position-y:104%;}
}

.aboutArea{margin:50px auto 0 auto;padding:50px 0 100px 0;border-top:1px solid #ddd;}
.aboutArea>:not(ol){float:left;}
.aboutArea>.col-lg-12{position:relative;}
.aboutArea>.col-lg-12 img{position:absolute;margin-left:60px;height:48px;}
.aboutArea>.col-lg-12 p{margin:0;padding-left:200px;font-size:12px;line-height:24px;}
.boxInside{padding:70px 100px;background-color:#fff;box-shadow:0 0 10px rgba(0,0,0,.1);}
.boxInside p.title::before{position:absolute;top:11px;left:0;width:500px;height:1px;background-color:#ccc;content:'';}
.boxInside p.title::after{position:absolute;top:11px;right:0;width:500px;height:1px;background-color:#ccc;content:'';}
p.title{position:relative;margin-bottom:65px;font-size:12px;text-align:center;}
p.title::before{position:absolute;top:11px;left:0;width:600px;height:1px;background-color:#ccc;content:'';}
p.title::after{position:absolute;top:11px;right:0;width:600px;height:1px;background-color:#ccc;content:'';}
p.titleNext{position:relative;margin-bottom:70px;color:#333;text-align:center;font-weight:900;font-size:50px;font-family:initial;line-height:50px;}
.ball{position:absolute;left:0;margin-left:-25px;width:50px;-webkit-animation:ball 30s ease-in-out infinite;animation:ball 30s ease-in-out infinite;}
@-webkit-keyframes ball{
    0%{left:0;transform:rotate(0);}
    50%{left:100%;transform:rotate(2400deg);}
    100%{left:0;transform:rotate(0);}
}
@keyframes ball{
    0%{left:0;transform:rotate(0);}
    50%{left:100%;transform:rotate(2400deg);}
    100%{left:0;transform:rotate(0);}
}

.boxInside .wordInside{margin:50px 0;}
.boxInside .wordInside strong{color:#063c85;font-size:24px;}
.boxInside .counter .row :not(ol){float:left;}
.boxInside>div>div .counter .row img{margin:-12px 15px 0 25px;width:80px;height:80px;}
.boxInside>div>div:nth-child(2) .counter .row img{margin:-12px 15px 0 80px;}
.boxInside>div>div:nth-child(3) .counter .row img{margin:-12px 15px 0 80px;}
.aboutArea.second{margin:0 auto 50px auto;padding:100px 0 50px 0;border-top:none;}
.index>div>div>.container:nth-child(3){padding-top:10px;}
.index>div>div>.container:nth-child(7){margin-bottom:50px;}
.container.global{margin-top:50px;margin-bottom:100px;}
.container.global .title{margin-bottom:0;}
.bannerThin{margin:0;padding:150px 0 180px 0!important;background-position:50%;background-repeat:no-repeat;}
.bannerThin h1{margin-bottom:12px;}
.brandMain .boxInside{z-index:1;margin-top:-50px;}
.brandMain .boxInside img{float:right;margin:-300px 0 0 0;width:500px;}


@media (min-width: 992px) {
    html.sticky-header-active .bg-dark,.headerOther{background-color:rgba(255,255,255,0)!important;background-image:url(../img/headerGround.png)!important;background-size:100% 100%!important;}
    html.sticky-header-active #header .header-nav.header-nav-links.header-nav-light-text nav>ul>li>a{color:#444;}
    html.sticky-header-active #header .header-nav.header-nav-links nav>ul:not(:hover)>li>a.active{color:#4787de;}
    html.sticky-header-active #header .header-nav.header-nav-links nav>ul li:hover>a{color:#4787de;}
    #header .header-nav.header-nav-dropdowns-dark nav>ul>li.dropdown .dropdown-menu>li>a{color:#fff;}
    html.sticky-header-active #header .header-nav.header-nav-dropdowns-dark nav>ul>li.dropdown .dropdown-menu>li>a{color:#333;}
}

@media (max-width: 767px) {
    .secondLine, .thirdLine { display: none }
    .list.list-borders li:last-child {text-align: center}
}

@media (min-width: 768px) and (max-width: 991px) {
    .secondLine, .thirdLine { display: none }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .secondLine { top:112px; height:356px; }
    .thirdLine { top:468px; height:380px; }
}

@media (min-width: 1200px) {
    .secondLine { top:112px; height:330px; }
    .thirdLine { top:440px; height:356px; }
    .container {max-width: 1366px;}
}

.particletext{position:relative;}
.particletext.bubbles>.particle{position:absolute;border-radius:100%;background-color:rgba(33,150,243,.5);opacity:0;-webkit-animation:bubbles 3s ease-in infinite;animation:bubbles 3s ease-in infinite;}
@-webkit-keyframes bubbles{
    0%{opacity:0;}
    20%{opacity:1;-webkit-transform:translate(0,-20%);transform:translate(0,-20%);}
    100%{opacity:0;-webkit-transform:translate(0,-1000%);transform:translate(0,-1000%);}
}
@keyframes bubbles{
    0%{opacity:0;}
    20%{opacity:1;-webkit-transform:translate(0,-20%);transform:translate(0,-20%);}
    100%{opacity:0;-webkit-transform:translate(0,-1000%);transform:translate(0,-1000%);}
}

.section-title{text-align:center;text-transform:uppercase;}
.project-list:after{clear:both;display:block;content:" ";}
.project__image{position:relative;display:block;}
.project__image img{display:block;width:100%;max-width:100%;}
.project__image:after{position:absolute;top:0;left:0;width:100%;height:100%;background:linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.4));content:" ";opacity:0;transition:opacity .3s ease;}
.project__card{position:relative;}
.project__card.hover-in{transition:-webkit-transform .2s ease-out;transition:transform .2s ease-out;transition:transform .2s ease-out,-webkit-transform .2s ease-out;}
.project__card.hover-out{transition:-webkit-transform .2s ease-in;transition:transform .2s ease-in;transition:transform .2s ease-in,-webkit-transform .2s ease-in;}
.project:hover .project__image:after{opacity:1;}
.project:hover .project__detail{border-width:10px;}
.project:hover .project__category,.project:hover .project__title{opacity:1;-webkit-transform:translateY(0) scale(1);transform:translateY(0) scale(1);-ms-transform:translateY(0) scale(1);}
.project__detail{position:absolute;top:30px;right:30px;bottom:30px;left:30px;display:-webkit-flex;display:-ms-flexbox;display:flex;text-align:center;transition:border .4s ease;-webkit-transform:translateZ(30px);transform:translateZ(30px);-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;pointer-events:none;}
img.project__title{margin:0 0 10px;font-weight:700;font-size:36px;opacity:0;transition:.4s ease;-webkit-transform:translateY(40px) scale(0);transform:translateY(40px) scale(0);-ms-transform:translateY(40px) scale(0);will-change:transform;}
img.project__title{margin:0 auto 10px auto;width:100px;height:100px;}
.project__title a{color:#fff;}
.project__category{opacity:0;transition:.4s ease;transition-delay:.1s;-webkit-transform:translateY(40px) scale(0);transform:translateY(40px) scale(0);-ms-transform:translateY(40px) scale(0);will-change:transform;}
.project__category a{color:rgba(255,255,255,1);font-weight:700;font-size:1.3em;}

html a.scroll-to-top{bottom:10px;width:50px;height:50px;border:2px solid #063c85;border-radius:100px;background-color:#fff;color:#063c85;font-weight:900;line-height:26px;}

