a,a:active,a:visited,a:hover {text-decoration:none;}
a, a:link{color: #777;}
a:hover{color: #063c85;}

.body{background-color:#f7fbff;}
.footFlower:before{position:absolute;top:-5px;left:50%;display:block;margin-left:-20px;width:20px;height:20px;border-top:20px solid #FFF;border-right:20px solid transparent;border-left:20px solid transparent;content:"";}
img.thumb-info-inner.innerImg{left:50%;margin-bottom:1rem;margin-left:-1.75rem;width:3.5rem;}
.text-color-primary.month{color:#063c85!important;}
canvas#flower{position:fixed;top:0;left:0;z-index:9999;display:block;margin:0;padding:0;touch-action:none;pointer-events:none;}
#sub-menu{text-align:center;}
#sub-menu li>:not(i){color:#777!important;}
.Ufaner span.sub-title.text-dark{text-align:left;}
html #history .text-color-primary,html #history .text-primary{color:#063c85!important;}
#history .title{padding-top:80px;}

.eightStep{width:8rem;}
.eightStepText{text-align:left;}
.secondLine{position:absolute;right:15px;left:auto;width:3px;background:#063c85;content:'';}
.thirdLine{position:absolute;right:auto;left:15px;width:3px;background:#063c85;content:'';}
.readMore{background-color:#063c85!important;text-align:right;}
li.dropdown a:hover{-webkit-animation:dropdownLi .3s;animation:dropdownLi .3s;animation-fill-mode:forwards;}
@keyframes dropdownLi{
    0%{-webkit-transform:rotate(0) scale(1,1);transform:rotate(0) scale(1,1);}
    100%{-webkit-transform:rotate(-3deg) scale(1.1,1.1);transform:rotate(-3deg) scale(1.1,1.1);color:#4787de;}
}

.floatWindow{position:absolute;bottom:0;margin-bottom:-50px;margin-left:60px;padding:30px 42px 45px;width:700px;background-color:#fff;background-image:url(../img/wave.png);box-shadow:0 0 10px rgba(0,0,0,.1);-webkit-transition:.3s;transition:.3s;background-repeat-y:no-repeat}
.floatWindow p{margin:10px 0 0;color:#063c85;font-weight:900;font-size:24px;font-family:initial;line-height:2pc}
.floatWindow:hover{background-color:#063c85;background-image:url(../img/wave_white.png)}
.floatWindow:hover p,.floatWindow:hover span{color:#fff}
.wave{-webkit-animation:wave 20s infinite;animation:wave 20s infinite}
@keyframes wave{
    0%{background-position-x:0;background-position-y:104%;}
    25%{background-position-y:108%;}
    50%{background-position-y:104%;}
    75%{background-position-y:100%;}
    100%{background-position-x:100%;background-position-y:104%;}
}

.aboutArea{margin:50px auto 0 auto;padding:50px 0 100px 0;border-top:1px solid #ddd;}
.aboutArea>:not(ol){float:left;}
.aboutArea>.col-lg-12{position:relative;}
.aboutArea>.col-lg-12 img{position:absolute;margin-left:60px;height:48px;}
.aboutArea>.col-lg-12 p{margin:0;padding-left:200px;font-size:12px;line-height:24px;}
.boxInside{padding:70px 100px;background-color:#fff;box-shadow:0 0 10px rgba(0,0,0,.1);position: relative;}
.boxInside p.title::before{position:absolute;top:11px;left:0;width:500px;height:1px;background-color:#ccc;content:'';}
.boxInside p.title::after{position:absolute;top:11px;right:0;width:500px;height:1px;background-color:#ccc;content:'';}
p.title{position:relative;margin-bottom:65px;font-size:12px;text-align:center;}
p.title::before{position:absolute;top:11px;left:0;width:600px;height:1px;background-color:#ccc;content:'';}
p.title::after{position:absolute;top:11px;right:0;width:600px;height:1px;background-color:#ccc;content:'';}
p.titleNext{position:relative;margin-bottom:70px;color:#333;text-align:center;font-weight:900;font-size:50px;font-family:initial;line-height:50px;}
.ball{position:absolute;left:0;margin-left:-25px;width:50px;-webkit-animation:ball 30s ease-in-out infinite;animation:ball 30s ease-in-out infinite;}
@-webkit-keyframes ball{
    0%{left:0;transform:rotate(0);}
    50%{left:100%;transform:rotate(2400deg);}
    100%{left:0;transform:rotate(0);}
}
@keyframes ball{
    0%{left:0;transform:rotate(0);}
    50%{left:100%;transform:rotate(2400deg);}
    100%{left:0;transform:rotate(0);}
}

.boxInside .wordInside{margin:50px 0;}
.boxInside .wordInside strong{color:#063c85;font-size:24px;}
.boxInside .counter .row :not(ol){float:left;}
.boxInside>div>div .counter .row img{margin:-12px 15px 0 25px;width:80px;height:80px;}
.boxInside>div>div:nth-child(2) .counter .row img{margin:-12px 15px 0 80px;}
.boxInside>div>div:nth-child(3) .counter .row img{margin:-12px 15px 0 80px;}
.aboutArea.second{margin:0 auto 50px auto;padding:100px 0 50px 0;border-top:none;}
.index>div>div>.container:nth-child(3){padding-top:10px;}
.index>div>div>.container:nth-child(7){margin-bottom:50px;}
.container.global{margin-top:50px;margin-bottom:100px;}
.container.global .title{margin-bottom:0;}
.bannerThin{margin:0;padding:150px 0 180px 0!important;background-position:50%;background-repeat:no-repeat;}
.bannerThin h1{margin-bottom:12px;}
.brandMain .boxInside{z-index:1;margin-top:-50px;}
.brandMain .boxInside>img{float:right;margin:-300px 0 0 0;width:500px;}
.steps{position:absolute;right:100px;bottom:100px;}
.steps img{float:left;margin-left:-7px;height:175px;border-radius:1000px;}
.steps .step:hover{-webkit-animation:stepsCircle 1s ease-in-out infinite;animation:stepsCircle 1s ease-in-out infinite;}
@-webkit-keyframes stepsCircle{0%{box-shadow:0 0 0 #03afc4;}
100%{box-shadow:0 0 100px rgba(3,175,196,0);}
}
@keyframes stepsCircle{0%{box-shadow:0 0 0 #03afc4;}
100%{box-shadow:0 0 100px rgba(3,175,196,0);}
}
.lesson{margin-top: 70px;margin-bottom: 50px;}
.lesson img{width:100px;}
.lesson .col-lg-4{text-align:center;}
.lesson .col-lg-4>p:nth-child(2){margin:15px 0;color:#333;font-size:24px;}
.lesson .col-lg-4>p:nth-child(3){padding:0 50px;text-align:left;}
.lesson .col-lg-4:nth-child(1) img{-webkit-animation:lesson_1 5s ease-in-out infinite;animation:lesson_1 5s ease-in-out infinite;}
.lesson .col-lg-4:nth-child(2) img{-webkit-animation:lesson_2 3s ease-in-out infinite;animation:lesson_2 3s ease-in-out infinite;}
.lesson .col-lg-4:nth-child(3) img:nth-child(1){transform-origin:left center;-webkit-animation:lesson_3 3s infinite;animation:lesson_3 3s infinite;}
.lesson .col-lg-4:nth-child(3) img:nth-child(2){margin-left:-100px;transform-origin:right center;-webkit-animation:lesson_4 3s infinite;animation:lesson_4 3s infinite;}
@-webkit-keyframes lesson_1{0%{transform:rotate(0);}
100%{transform:rotate(-360deg);}
}
@keyframes lesson_1{0%{transform:rotate(0);}
100%{transform:rotate(-360deg);}
}
@-webkit-keyframes lesson_2{0%{transform:rotate(0);}
25%{transform:rotate(-5deg);}
75%{transform:rotate(5deg);}
100%{transform:rotate(0);}
}
@keyframes lesson_2{0%{transform:rotate(0);}
25%{transform:rotate(-5deg);}
75%{transform:rotate(5deg);}
100%{transform:rotate(0);}
}
@-webkit-keyframes lesson_3{0%{opacity:0;transform:rotate(0);}
50%{opacity:1;}
100%{opacity:0;transform:rotate(-10deg);}
}
@keyframes lesson_3{0%{opacity:0;transform:rotate(0);}
50%{opacity:1;}
100%{opacity:0;transform:rotate(-10deg);}
}
@-webkit-keyframes lesson_4{0%{opacity:0;transform:rotate(0);}
50%{opacity:1;}
100%{opacity:0;transform:rotate(10deg);}
}
@keyframes lesson_4{0%{opacity:0;transform:rotate(0);}
50%{opacity:1;}
100%{opacity:0;transform:rotate(10deg);}
}
.level .levelTab{float:left;width:200px;}
.level .levelTab span{float:left;margin:0 15px 10px 0;padding:6px 12px 4px 12px;width:70px;border:1px solid #000;border-radius:100px;color:#000;text-align:center;}
.level .levelTab span:nth-child(1){border:1px solid #a6d1f0;color:#a6d1f0;}
.level .levelTab span:nth-child(2){border:1px solid #82c2eb;color:#82c2eb;}
.level .levelTab span:nth-child(3){border:1px solid #43afe5;color:#43afe5;}
.level .levelTab span:nth-child(4){border:1px solid #00a3e0;color:#00a3e0;}
.level .levelTab span:nth-child(5){border:1px solid #0096db;color:#0096db;}
.level .levelTab span:nth-child(6){border:1px solid #0084c8;color:#0084c8;}
.level .levelTab span:nth-child(7){border:1px solid #0072b9;color:#0072b9;}
.level .levelTab span:nth-child(8){border:1px solid #005d9f;color:#005d9f;}
.level .wordInside{float:right;}
.level .levelImg{position:relative;display:inline-block;margin:0 80px;}
.level .levelImg img{float:left;width:220px;}
.level .levelImg img:nth-child(2){position:absolute;left:0;z-index:1;}
.level .levelImg div:nth-child(3){position:absolute;left:0;width:100%;background-color:#fff;transition:.5s;}
.modal#lesson_1>.modal-dialog{margin-top:6%;max-width:85%;}
.modal#lesson_2>.modal-dialog{margin-top:3%;max-width:60%;}
.modal#lesson_3>.modal-dialog{margin-top:3%;max-width:70%;}
.modal#lesson_1 img,.modal#lesson_2 img,.modal#lesson_3 img{margin:auto;max-width:100%;}
.gallery-container{position:relative;padding:0 50px;width:100%;height:350px;}
.gallery-container+p {text-align: center;width: 100%;}
.gallery{position:absolute;top:120px;display:flex;margin:auto;width:95%;height:200px;-webkit-transform:translateY(-50%);transform:translateY(-50%);-webkit-transform-origin:center center;transform-origin:center center;align-items:center;justify-content:center;-webkit-perspective:800px;perspective:800px;-webkit-transform-style:preserve-3d;transform-style:preserve-3d;}
.frame{position:relative;display:flex;overflow:hidden;width:200px;height:100%;border:2px solid #fff;border-radius:4px;background:#fff;box-shadow:0 0 20px rgba(6,60,133,.1);cursor:pointer;-webkit-transform-origin:center center;transform-origin:center center;flex-flow:column;align-items:center;justify-content:center;-webkit-transform-style:preserve-3d;transform-style:preserve-3d;}
.frame .image{position:relative;display:block;width:90%;height:auto;pointer-events:none;}
.frame .info{font-size:1.2em;font-family:"Source Sans Pro",serif;}
.gallery .frame:nth-child(1) .info{color:#063c85;}
.gallery .frame:nth-child(2) .info{color:#063c85;}
.gallery .frame:nth-child(3) .info{color:#063c85;}
.gallery .frame:nth-child(4) .info{color:#063c85;}
.gallery .frame:nth-child(5) .info{color:#DD9366;}
.gallery .frame:nth-child(6) .info{color:#949698;}
.gallery .frame:nth-child(7) .info{color:#C3B69C;}
.gallery .frame:nth-child(8) .info{color:#75C0EB;}
.gallery .frame:nth-child(9) .info{color:#6D6F71;}
#codepen-link{position:absolute;right:30px;bottom:20px;z-index:10;box-sizing:border-box;width:40px;height:40px;border-radius:50%;background-position:center center;background-size:cover;opacity:.4;transition:all .25s;}
#codepen-link:hover{box-shadow:0 0 6px #000;opacity:.8;}
.newsPage .boxInside {    width: 100%;
    padding: 20px 0;}
    



@media (min-width: 992px) {
    html.sticky-header-active .bg-dark,.headerOther{background-color:rgba(255,255,255,0)!important;background-image:url(../img/headerGround.png)!important;background-size:100% 100%!important;}
    html.sticky-header-active #header .header-nav.header-nav-links.header-nav-light-text nav>ul>li>a{color:#444;}
    html.sticky-header-active #header .header-nav.header-nav-links nav>ul:not(:hover)>li>a.active{color:#4787de;}
    html.sticky-header-active #header .header-nav.header-nav-links nav>ul li:hover>a{color:#4787de;}
    #header .header-nav.header-nav-dropdowns-dark nav>ul>li.dropdown .dropdown-menu>li>a{color:#fff;}
    html.sticky-header-active #header .header-nav.header-nav-dropdowns-dark nav>ul>li.dropdown .dropdown-menu>li>a{color:#333;}
}

@media (max-width: 767px) {
    .secondLine, .thirdLine { display: none }
    .list.list-borders li:last-child {text-align: center}
}

@media (min-width: 768px) and (max-width: 991px) {
    .secondLine, .thirdLine { display: none }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .secondLine { top:112px; height:356px; }
    .thirdLine { top:468px; height:380px; }
}

@media (min-width: 1200px) {
    .secondLine { top:112px; height:330px; }
    .thirdLine { top:440px; height:356px; }
    .container {max-width: 1366px;}
}

.particletext{position:relative;}
.particletext.bubbles>.particle{position:absolute;border-radius:100%;background-color:rgba(33,150,243,.5);opacity:0;-webkit-animation:bubbles 3s ease-in infinite;animation:bubbles 3s ease-in infinite;}
@-webkit-keyframes bubbles{
    0%{opacity:0;}
    20%{opacity:1;-webkit-transform:translate(0,-20%);transform:translate(0,-20%);}
    100%{opacity:0;-webkit-transform:translate(0,-1000%);transform:translate(0,-1000%);}
}
@keyframes bubbles{
    0%{opacity:0;}
    20%{opacity:1;-webkit-transform:translate(0,-20%);transform:translate(0,-20%);}
    100%{opacity:0;-webkit-transform:translate(0,-1000%);transform:translate(0,-1000%);}
}

.section-title{text-align:center;text-transform:uppercase;}
.project-list:after{clear:both;display:block;content:" ";}
.project__image{position:relative;display:block;}
.project__image img{display:block;width:100%;max-width:100%;}
.project__image:after{position:absolute;top:0;left:0;width:100%;height:100%;background:linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.4));content:" ";opacity:0;transition:opacity .3s ease;}
.project__card{position:relative;}
.project__card.hover-in{transition:-webkit-transform .2s ease-out;transition:transform .2s ease-out;transition:transform .2s ease-out,-webkit-transform .2s ease-out;}
.project__card.hover-out{transition:-webkit-transform .2s ease-in;transition:transform .2s ease-in;transition:transform .2s ease-in,-webkit-transform .2s ease-in;}
.project:hover .project__image:after{opacity:1;}
.project:hover .project__detail{border-width:10px;}
.project:hover .project__category,.project:hover .project__title{opacity:1;-webkit-transform:translateY(0) scale(1);transform:translateY(0) scale(1);-ms-transform:translateY(0) scale(1);}
.project__detail{position:absolute;top:30px;right:30px;bottom:30px;left:30px;display:-webkit-flex;display:-ms-flexbox;display:flex;text-align:center;transition:border .4s ease;-webkit-transform:translateZ(30px);transform:translateZ(30px);-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;pointer-events:none;}
img.project__title{margin:0 0 10px;font-weight:700;font-size:36px;opacity:0;transition:.4s ease;-webkit-transform:translateY(40px) scale(0);transform:translateY(40px) scale(0);-ms-transform:translateY(40px) scale(0);will-change:transform;}
img.project__title{margin:0 auto 10px auto;width:100px;height:100px;}
.project__title a{color:#fff;}
.project__category{opacity:0;transition:.4s ease;transition-delay:.1s;-webkit-transform:translateY(40px) scale(0);transform:translateY(40px) scale(0);-ms-transform:translateY(40px) scale(0);will-change:transform;}
.project__category a{color:rgba(255,255,255,1);font-weight:700;font-size:1.3em;}

html a.scroll-to-top{bottom:10px;width:50px;height:50px;border:2px solid #063c85;border-radius:100px;background-color:#fff;color:#063c85;font-weight:900;line-height:26px;}

