.blueLine{margin-left:-49px!important}
.lesson-1.overlay:before{background:#063c85}
.lesson-2.overlay:before{background:#063c85}
.lesson-3.overlay:before{background:#063c85}
.footFlower:before{content:"";display:block;position:absolute;border-left:20px solid transparent;border-right:20px solid transparent;border-top:20px solid #FFF;height:20px;width:20px;top:-5px;left:50%;margin-left:-20px}
img.thumb-info-inner.innerImg{width:3.5rem;left:50%;margin-left:-1.75rem;margin-bottom:1rem}
.text-color-primary.month{color:#063c85!important}
canvas#flower{margin:0;padding:0;display:block;touch-action:none;pointer-events:none;position:fixed;top:0;left:0;z-index:9999}
#sub-menu{text-align:center}
#sub-menu li>:not(i){color:#777!important}
.Ufaner span.sub-title.text-dark{text-align:left}
html #history .text-color-primary,html #history .text-primary{color:#003a88!important}
.eightStep{width:8rem}
.eightStepText{text-align:left}
.secondLine{content:'';width:3px;right:15px;left:auto;background:#063c85;position:absolute}
.thirdLine{content:'';width:3px;right:auto;left:15px;background:#063c85;position:absolute}
.readMore{background-color: #003b88 !important;text-align: right}
li.dropdown  a:hover{-webkit-animation: dropdownLi .3s;animation: dropdownLi .3s;animation-fill-mode: forwards;}
@-webkit-keyframes dropdownLi{
    0%{transform:rotate(0deg) scale(1,1);
        -ms-transform:rotate(0deg) scale(1,1); 	/* IE 9 */
        -moz-transform:rotate(0deg) scale(1,1); 	/* Firefox */
        -webkit-transform:rotate(0deg) scale(1,1); /* Safari 和 Chrome */
        -o-transform:rotate(0deg) scale(1,1); 
    }
    100%{transform:rotate(-3deg) scale(1.1,1.1);
        -ms-transform:rotate(-3deg) scale(1.1,1.1); 	/* IE 9 */
        -moz-transform:rotate(-3deg) scale(1.1,1.1); 	/* Firefox */
        -webkit-transform:rotate(-3deg) scale(1.1,1.1); /* Safari 和 Chrome */
        -o-transform:rotate(-3deg) scale(1.1,1.1); 
    color:#4787de}
}
@keyframes dropdownLi{
    0%{transform:rotate(0deg) scale(1,1);
        -ms-transform:rotate(0deg) scale(1,1); 	/* IE 9 */
        -moz-transform:rotate(0deg) scale(1,1); 	/* Firefox */
        -webkit-transform:rotate(0deg) scale(1,1); /* Safari 和 Chrome */
        -o-transform:rotate(0deg) scale(1,1); 
    }
    100%{transform:rotate(-3deg) scale(1.1,1.1);
        -ms-transform:rotate(-3deg) scale(1.1,1.1); 	/* IE 9 */
        -moz-transform:rotate(-3deg) scale(1.1,1.1); 	/* Firefox */
        -webkit-transform:rotate(-3deg) scale(1.1,1.1); /* Safari 和 Chrome */
        -o-transform:rotate(-3deg) scale(1.1,1.1); 
    color:#4787de}
}

@media (min-width: 992px) {
    html.sticky-header-active .bg-dark{background-color:rgba(255,255,255,0)!important;background-image:url(../img/headerGround.png)!important;background-size:100% 100%!important;}
    html.sticky-header-active #header .header-nav.header-nav-links.header-nav-light-text nav>ul>li>a{color:#444;}
    html.sticky-header-active #header .header-nav.header-nav-links nav>ul:not(:hover)>li>a.active{color:#4787de;}
    html.sticky-header-active #header .header-nav.header-nav-links nav>ul li:hover>a{color:#4787de;}
    #header .header-nav.header-nav-dropdowns-dark nav>ul>li.dropdown .dropdown-menu>li>a{color:#fff}
    html.sticky-header-active #header .header-nav.header-nav-dropdowns-dark nav>ul>li.dropdown .dropdown-menu>li>a{color:#666}
    html.sticky-header-active #header .header-nav.header-nav-dropdowns-dark nav>ul>li.dropdown .dropdown-menu{background:rgba(255,255,255,0.3)
}

@media (max-width: 767px) {
    .secondLine, .thirdLine { display: none }
    .list.list-borders li:last-child {text-align: center}
}

@media (min-width: 768px) and (max-width: 991px) {
    .secondLine, .thirdLine { display: none }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .secondLine { top:112px; height:356px; }
    .thirdLine { top:468px; height:380px; }
}

@media (min-width: 1200px) {
    .secondLine { top:112px; height:330px; }
    .thirdLine { top:440px; height:356px; }
}
